header{
  nav{
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      gap: 0 15px;
      li{
        list-style: none;
        a{
          text-decoration: none;
          color: var(--black);
          &:hover, &.active{
            color: var(--brandColor);
          }
        }
      }
    }
  }
}