:root{
  --brandColor: #da305e;
  --black: #333;
  --white: #fff;
}

html{
  height: 100%;
}

.sticky-footer{
  display: flex;
  flex-direction: column;
  height: 100%;
}


body{
  padding: 0;
  margin: 0;
  h1{
    font-size: 28px;
    line-height: 30px;
  }
  h2{
    font-size: 26px;
    line-height: 30px;
  }
  h3{
    font-size: 22px;
    line-height: 28px;
  }
}