:root{
  --brandColor: #da305e;
  --black: #333;
  --white: #fff;
}

html{
  height: 100%;
}

.sticky-footer{
  display: flex;
  flex-direction: column;
  height: 100%;
}


body{
  padding: 0;
  margin: 0;
  h1{
    font-size: 28px;
    line-height: 30px;
  }
  h2{
    font-size: 26px;
    line-height: 30px;
  }
  h3{
    font-size: 22px;
    line-height: 28px;
  }
  .primaryBtn{
      text-decoration: none;
      background: transparent;
      color: var(--brandColor);
      width: 150px;
      text-align: center;
      margin-top: 20px;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: 20px;
      border: 2px solid var(--brandColor);
      &:hover, &:focus{
        background: var(--brandColor);
        color: var(--white);
        border: 2px solid var(--brandColor);
      }
    }
  .secondaryBtn{
    text-decoration: none;
    background: var(--black);
    color: var(--white);
    width: 150px;
    text-align: center;
    margin-top: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid var(--black);
    &:hover, &:focus, &:focus-within, &:focus-visible, &:active{
      background: var(--brandColor);
      color: var(--white);
      border: 2px solid var(--brandColor);
    }
  }
}